@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #print-area, #print-area *, .printable, .printable * {
    visibility: visible;
  }
  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .no-print {
    display: none !important;
  }
}
